### Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar

### NodeJS
node_modules

### Logs
*.log
*.log.*.gz

### Temporary files
*.tmp
*.bak

### H2 databases
*.mv.db
*.trace.db

### SQLite databases
*.sqlite
*.sqlite-journal

### STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA
!.idea/
.idea/*
!/.idea/runConfigurations/
*.iws
*.iml
*.ipr

### NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Komga
/komga/src/main/resources/public/
/komga/artemis/
