html {
    overflow-y: auto !important;
}

.link-underline {
    text-decoration: none;
}

.link-underline:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.chip-spacing {
    line-height: 2rem !important;
}
