.unread {
    border-left: 25px solid transparent;
    border-right: 25px solid orange;
    border-bottom: 25px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}
