@use "quasar/src/css/variables" as q;

.body--light {
    .chip-negative {
        background: q.$red-1;
        color: q.$red-10;
    }
    .chip-info {
        background: q.$blue-1;
        color: q.$blue;
    }
}
.body--dark {
    .q-chip {
        background: #3A3A3A;
        color: #D8D8D8;
    }
    .chip-negative {
        background: #36292C;
        color: #AB5866;
    }
    .chip-info {
        background: #172535;
        color: #218CE3;
    }
}
