name: Update DockerHub description

on:
  push:
    branches:
    - master
    paths:
    - 'DOCKERHUB.md'

jobs:
  update_docker_description:
    name: Update DockerHub description
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@master
    - name: DockerHub Description
      uses: peter-evans/dockerhub-description@v4.0.2
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKERHUB_REPOSITORY: gotson/komga
        README_FILEPATH: ./DOCKERHUB.md
