name: "Validate Gradle Wrapper"
on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/wrapper-validation@v3
